{block content}
<h2 class="text-center bg-secondary text-white p-3">Editace díla</h2>

{import '../components/form.latte'}
{include bootstrap-form literaturaForm}
{* control LiteraturaForm *}
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}